* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background: url('/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner__content {
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
.banner__text {
  width: 500px;
}
.banner__text h3 {
  font-size: 50px;
}
.banner__text h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
}
.banner__text p {
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}

/* nav {
  position: fixed;

  width: 100%;
} */
.navbar__text {
  display: flex;
  height: 60px;
  align-items: center;
  width: 1200px;
}
/* .logo {
  width: 40%;
}
.logo img {
  width: 220px;
} */

.banner__btn {
  margin-top: 35px;
}

.btns {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
}
.btn-smart {
  background: rgb(255, 69, 79);
}
.about {
  padding: 80px 0;
}

.p-25 {
  padding: 45px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.about h3 {
  color: rgba(37, 37, 37, 0.7);
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;
}
.about h1 {
  font-size: 40px;
  color: #252525;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}
.about p {
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 300;
}

.about__btn {
  margin-top: 35px;
}
.about__img {
  width: 100%;
  overflow: hidden;
}

.about__img img {
  width: 100%;
}
.shop {
  width: 100%;
  background: url('/img/bg.jpg');
  height: 450px;
  background-attachment: fixed;
}
.shop__text {
  height: 450px;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
}
.shop__text h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.5px;
}
.shop__btn {
  margin-top: 35px;
}

.clients {
  width: 100%;
  padding: 100px 0;
  background: url('/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

.client {
  text-align: center;
}
.client h1 {
  font-style: 45px;
}
.client p {
  font-style: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.prices {
  width: 100%;
  padding: 80px 0;
}

.price {
  padding: 20px;
  text-align: center;
}
.price__img {
  width: 100%;
}

.price__img img {
  width: 250px;
}

.price__heading {
  margin-top: 20px;
  font-size: 25px;
}
.price__text {
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
  font-weight: 300;
}

.price_rs {
  font-size: 30px;
  margin-top: 15px;
}

@media (max-width: 700px) {
  .navbar__text {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .container {
    width: 100%;
    padding: 0 30px;
  }
  .banner__text {
    width: auto;
  }
  .banner__text h3 {
    font-size: 25px !important;
  }
  .banner__text h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
    margin-top: 20px;
  }
  .banner__text p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }
  .navbar__ul {
    width: 100%;
    justify-content: center;
  }
  .navbar__ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .col-3,
  .col-4,
  .col-6 {
    width: 100%;
  }
  .client {
    margin: 20px 0;
  }
  .about h1 {
    font-size: 25px;
  }
  .shop h1 {
    font-size: 25px;
  }
  .menu h1 {
    font-size: 25px;
  }
}

/* -------------------footer------------------------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.footer .contact_D {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #c7c3c3;
  padding: 50px 0;
}
.footer p {
  display: grid;
  grid-template-columns: 30% 20% 50%;
  width: 60%;
  font-size: 1.3rem;
  /* letter-spacing: 1px; */
}
.footer .social_icon {
  background-color: #888888;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px 0;
}
.footer .social_icon i {
  font-size: 2.5rem;
  margin: 0 20px;
  cursor: pointer;
  /* color: blue; */
}
.footer .social_icon i:hover {
  color: #c7c3c3;
}
.footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3436;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  letter-spacing: 2px;
  text-align: center;
}
/* ----------------get the app---------------- */
.gettheapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}
.gettheapp .left img {
  width: 300px;
  height: 300px;
}
.gettheapp .right img {
  width: auto;
  height: 50px;
  cursor: pointer;
  margin: 10px;
}
.gettheapp .right .radio {
  /* margin: 10px; */
  cursor: pointer;
}
.gettheapp .right label {
  margin: 20px;
}
.gettheapp .right .input input {
  width: 250px;
  padding: 5px 20px;
}
.gettheapp .right .input button {
  /* width: 200px; */
  padding: 5px 20px;
  outline: none;
  border: 2px solid #ff454f;
  background-color: #ff454f;
  color: #fff;
  margin-left: 10px;
}
/* -----------------------vegpizza-------------------- */
.vegpizza {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  width: 100%;
}
.product {
  width: 350px;
  height: 400px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  padding: 0;
}
.product .price .strike {
  text-decoration: line-through;
}
.product h3 {
  background-color: #ff454f;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  margin-top: 13px;
}
.product img {
  width: 100%;
  height: 240px;
  margin-top: -8px;
}
.product .price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.product .price p {
  margin: 0 10px;
  font-weight: 700;
  letter-spacing: 1px;
}
.product .button {
  margin-bottom: 10px;
}
.product .button button {
  margin: 0 10px;
  padding: 5px 30px;
  color: #fff;
  font-weight: 700;
  border: none;
  margin-bottom: 10px;
}
.product .button .buy {
  background-color: orange;
}
.product .button .add {
  background-color: rgb(70, 70, 245);
}
